<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Test</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container" id="main">
    <div class="row">
      <div class="box col-md-3">
        <h4>Paper Life</h4>
        <img class="pic" src="img/2Q==-1.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>Tree of Justice</h4>
        <img class="pic" src="img/2Q==.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>Dream of Art</h4>
        <img class="pic" src="img/9k=.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>Where is My Ring</h4>
        <img class="pic" src="img/9k=-1.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>CoCoPun</h4>
        <img class="pic" src="img/9k=-2.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>Shadow Circus</h4>
        <img class="pic" src="img/9k=-3.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>Morz</h4>
        <img class="pic" src="img/Z.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>I² Science</h4>
        <img class="pic" src="img/Z-1.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>TiME</h4>
        <img class="pic" src="img/Z-2.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>Unanus</h4>
        <img class="pic" src="img/Z-3.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>Running Rabbit</h4>
        <img class="pic" src="img/Z-4.jpg" alt="">
      </div>
      <div class="box col-md-3">
        <h4>Island of Sorcery</h4>
        <img class="pic" src="img/Z-5.jpg" alt="">
      </div>
    </div>
  </div><!-- end container -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
